# Importing

"""

intial data review and cleaning 

"""

In [2]:
#importing data and libraries 
import pandas as pd
import numpy as np 
import os
path = r'C:\Users\Administrator\Desktop\Projects (Carrer foundry)\Achievement 6'
df_cleaning= pd.read_csv(os.path.join(path, 'Data','flavors_of_cacao.csv'), index_col= False)

# Checking data

In [3]:
print(df_cleaning.info())
"""

displays the information found within the df_cleaning dataframe using .info method

Print method
Prints the values to a stream, or to sys.stdout by default.

.info
Prints concise summary of a DataFrame.

Includes the number of non-null entries in each column, data type of each column, 
and memory usage of the DataFrame.

"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB
None

'\ndisplays the information found within the df_cleaning dataframe using .info method\n\nPrint method\nPrints the values to a stream, or to sys.stdout by default.\n\n.info\nPrints concise summary of a DataFrame.\n\nIncludes the number of non-null entries in each column, data type of each column, \nand memory usage of the DataFrame.\n\n'

In [4]:
# Check for missing values
missing_values = df_cleaning.isnull().sum()
"""
creates a dataframe containing the sum of all null values in the original data frame

.isnull()

returns 1 if an entry in the dataframe is null or a 0 if it isn't

.sum()

Sums all numerical input 

"""
print(missing_values)

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           1
Broad Bean\nOrigin                   1
dtype: int64

# Cleaning data

In [6]:
# dropping the rows with null bean and broad bean origin
df_cleaner = df_cleaning.dropna()
"""
Removes the null values found above

.dropna()
Remove missing values.

"""

In [8]:
# checking to make sure that worked
missing_values = df_cleaner.isnull().sum()
print(missing_values)

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           0
Broad Bean\nOrigin                   0
dtype: int64

In [10]:
print(df_cleaner.shape)

(1793, 9)

In [11]:
print(df_cleaning.shape)

(1795, 9)

In [13]:
# looks like we lost only two rows
# checking for mixed data 
for column in df_cleaner.columns:
    print(f"Column '{column}' has mixed types: {df_cleaner[column].apply(type).nunique() > 1}")
"""
Runs a loop for all columns in a dataframe checking for mixed data types

.apply()

applies a function across all columns of a dataframe

.nunique()
increases a count everytime a new element is found in a column
"""

Column 'Company
(Maker-if known)' has mixed types: False
Column 'Specific Bean Origin
or Bar Name' has mixed types: False
Column 'REF' has mixed types: False
Column 'Review
Date' has mixed types: False
Column 'Cocoa
Percent' has mixed types: False
Column 'Company
Location' has mixed types: False
Column 'Rating' has mixed types: False
Column 'Bean
Type' has mixed types: False
Column 'Broad Bean
Origin' has mixed types: False

In [16]:
# checking for duplicate rows
dups = df_cleaner.duplicated().sum()
"""
sums all instances of duplicated entries

.duplicated()
Returns a boolean series for all duplicated rows

"""
print(dups)

0

# Descriptive Stats

In [17]:
# data has been cleaned now for the descriptive stats
df_cleaner.describe()
"""
.describe()
Generate descriptive statistics for DataFrame columns.

For each numeric column, it returns:
    - count : Number of non-null entries
    - mean : The mean of the values
    - std : The standard deviation of the values
    - min : The minimum value
    - 25% : The 25th percentile (1st quartile)
    - 50% : The median (2nd quartile, 50th percentile)
    - 75% : The 75th percentile (3rd quartile)
    - max : The maximum value
"""

               REF  Review\nDate       Rating
count  1793.000000   1793.000000  1793.000000
mean   1036.126046   2012.326269     3.185862
std     553.128742      2.928666     0.477668
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     3.000000
50%    1073.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

In [18]:
# checking cocoapercent column
r = df_cleaner.iloc[2]
"""
Determining type of data in cocoa percent column

.iloc

Purely integer-location based indexing for selection by position.

This is primarily integer-based indexing for selecting rows and columns 
from a DataFrame or Series. It is not label-based, unlike `.loc[]`. 
You can use `.iloc[]` to access elements in a DataFrame or Series by row 
and column positions.

"""
print(r)

Company \n(Maker-if known)           A. Morin
Specific Bean Origin\nor Bar Name      Atsane
REF                                      1676
Review\nDate                             2015
Cocoa\nPercent                            70%
Company\nLocation                      France
Rating                                    3.0
Bean\nType
Broad Bean\nOrigin                       Togo
Name: 2, dtype: object

# Changing cocoa percent to float

In [24]:
df_cleaner['Cocoa\nPercent'] = df_cleaner['Cocoa\nPercent'].str.replace('%', '').astype(float)
"""
.replace()

Replace values given in to_replace with value.

This function can be used to replace values in a DataFrame or Series 
with a new value or set of values. The to_replace argument can be 
specified as a value, list, dict, or regex pattern, and the replacement 
can be provided in the same form.

.astype()

Cast a pandas object to a specified dtype.

This function is used to cast a DataFrame or Series to a specified data type. 
It allows you to convert the data type of columns to integers, floats, strings, 
booleans, etc. You can apply this to a single column, multiple columns, or the 
entire DataFrame.

"""
print(df_cleaner)

     Company \n(Maker-if known) Specific Bean Origin\nor Bar Name   REF  \
0                      A. Morin                       Agua Grande  1876
1                      A. Morin                             Kpime  1676
2                      A. Morin                            Atsane  1676
3                      A. Morin                             Akata  1680
4                      A. Morin                            Quilla  1704
...                         ...                               ...   ...
1790                     Zotter                              Peru   647
1791                     Zotter                             Congo   749
1792                     Zotter                      Kerala State   749
1793                     Zotter                      Kerala State   781
1794                     Zotter                Brazil, Mitzi Blue   486

      Review\nDate  Cocoa\nPercent Company\nLocation  Rating Bean\nType  \
0             2016            63.0            France    3.75
1             2015            70.0            France    2.75
2             2015            70.0            France    3.00
3             2015            70.0            France    3.50
4             2015            70.0            France    3.50
...            ...             ...               ...     ...        ...
1790          2011            70.0           Austria    3.75
1791          2011            65.0           Austria    3.00  Forastero
1792          2011            65.0           Austria    3.50  Forastero
1793          2011            62.0           Austria    3.25
1794          2010            65.0           Austria    3.00

     Broad Bean\nOrigin
0              Sao Tome
1                  Togo
2                  Togo
3                  Togo
4                  Peru
...                 ...
1790               Peru
1791              Congo
1792              India
1793              India
1794             Brazil

[1793 rows x 9 columns]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_26580\1265641574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaner['Cocoa\nPercent'] = df_cleaner['Cocoa\nPercent'].str.replace('%', '').astype(float)

In [25]:
r = df_cleaner.iloc[2]
print(r)

Company \n(Maker-if known)           A. Morin
Specific Bean Origin\nor Bar Name      Atsane
REF                                      1676
Review\nDate                             2015
Cocoa\nPercent                           70.0
Company\nLocation                      France
Rating                                    3.0
Bean\nType
Broad Bean\nOrigin                       Togo
Name: 2, dtype: object

In [26]:
df_cleaner.describe()

               REF  Review\nDate  Cocoa\nPercent       Rating
count  1793.000000   1793.000000     1793.000000  1793.000000
mean   1036.126046   2012.326269       71.699108     3.185862
std     553.128742      2.928666        6.326515     0.477668
min       5.000000   2006.000000       42.000000     1.000000
25%     576.000000   2010.000000       70.000000     3.000000
50%    1073.000000   2013.000000       70.000000     3.250000
75%    1502.000000   2015.000000       75.000000     3.500000
max    1952.000000   2017.000000      100.000000     5.000000

# Changing column names

In [29]:
# renaming all the columns with the \n column
df_cleaner = df_cleaner.rename(columns={'Company \n(Maker-if known)': 'Company_(Maker-if known)', 'Specific Bean Origin\nor Bar Name': 'Specific_Bean_Origin_or_Bar_Name', 'Review\nDate':'Review_Date', 'Cocoa\nPercent':'Cocoa_Percent', 'Company\nLocation':'Company_Location','Bean\nType':'Bean_Type','Broad Bean\nOrigin':'Broad Bean_Origin'})

In [30]:
r = df_cleaner.iloc[2]
print(r)

Company \n(Maker-if known)          A. Morin
Specific_Bean_Origin_or_Bar_Name      Atsane
REF                                     1676
Review_Date                             2015
Cocoa_Percent                           70.0
Company_Location                      France
Rating                                   3.0
Bean_Type
Broad Bean_Origin                       Togo
Name: 2, dtype: object

In [31]:
print(df_cleaner.columns)

Index(['Company \n(Maker-if known)', 'Specific_Bean_Origin_or_Bar_Name', 'REF',
       'Review_Date', 'Cocoa_Percent', 'Company_Location', 'Rating',
       'Bean_Type', 'Broad Bean_Origin'],
      dtype='object')

In [32]:
df_cleaner = df_cleaner.rename(columns={'Company \n(Maker-if known)': 'Company_(Maker-if known)'})
"""
.rename()

Alter axes (index or columns) labels.

This method allows renaming the **index** (row labels) or **columns** (column labels) 
of a DataFrame or Series.
"""

In [33]:
print(df_cleaner.columns)

Index(['Company \n(Maker-if known)', 'Specific_Bean_Origin_or_Bar_Name', 'REF',
       'Review_Date', 'Cocoa_Percent', 'Company_Location', 'Rating',
       'Bean_Type', 'Broad Bean_Origin'],
      dtype='object')

# Exporting

In [34]:
# okay for some reason the first column won't rename leaving it
# exporting the cleaned file 
df_cleaner.to_csv(os.path.join(path, 'Data','Cleaned_data.csv'))